*{
    margin: 0;
    padding: 0;
}

.nav{
    background-color: black;
    height: 80px;
    align-items: center;
   
}
.nav-top{
    background-color: black;
    height: 80px;
    align-items: center;
    border:1px solid rgb(255, 1, 1);
}
.nav a{
    align-items: left;
    color:#fff;
    font-size: 16px;
    transition: color 0.5s;
    margin-left: 30px;
}
.nav-item{
    margin-right: 80px;
}
.nav a:hover{
        color: rgb(53, 50, 50);
}

.logo{
    margin-left: 50px;
}

.title{
    margin: 75px 0;
    margin-left: auto;
    margin-right: auto;
}
.card{
    padding:35px;
    border:none;
    transition: transform 0.5s;
}
.card:hover{
    transform: translateY(-15px);
}
.row .col a{
    text-decoration: none;
    color:black;
}

